---

oracle_group: oinstall

oracle_version: 12.1.0.2

grid_version: 12.1.0.2

install_base: /u01/app

oracle_base: "{{ install_base }}/oracle"

oracle_db_home: db_1

oracle_db_name: ""

asm_data_group: DATA

asm_reco_group: RECO

oracle_pdb_name: ""
db_params_changes: False
db_config_type: "{% if ansible_play_hosts | length == 1 -%}SI
                 {%- else -%}RAC
                 {%- endif %}"
standard_task_id: "0"
PLATFORM_VENDOR: 'ORACLE'