ORACLE_HOME={{ oracle_home }}
ORACLE_BASE={{ oracle_base }}
NODE_LIST={{ cluster_node_string | join(',') }}
STORAGE_TYPE=ASM
DB_TYPE=SI_DB
NETCA_LOCAL_LISTENERS=LISTENER
LOGDIR={{ install_base }}/oraInventory/logs/
INVENTORY_LOCATION={{ install_base }}/oraInventory
HOME_TYPE=SIDB
CRS_HOME=false
ORACLE_BINARY_OK=true
LOCAL_NODE={{ ansible_hostname }}
local=false
inst_group={{ oracle_dba_group }}
inventory_loc={{ install_base }}/oraInventory
MinimumSupportedVersion=11.2.0.1.0
CCR_CONFIG_STATUS=CCR_DEL_HOME
ORACLE_HOME_VERSION_VALID=true
DB_UNIQUE_NAME_LIST={{ db_list | join (',') }}
