ORACLE_HOME={{ oracle_home }}
CLUSTER_NODES={{ cluster_node_string | join(',') }}
REMOTE_NODES={{ cluster_node_string[1:] | join(',') }}
LOCAL_NODE={{ ansible_hostname }}
HOME_TYPE=SIHA
ASM_REDUNDANCY=EXTERNAL
ORACLE_BASE={{ oracle_base }}
ObaseCleanupPtrLoc=/tmp/deinstall_bootstrap/orabase_cleanup.lst
SCAN_PORT={{ scan_port }}
ASM_UPGRADE=false
ORA_CRS_HOME={{ oracle_home }}
MinimumSupportedVersion=11.2.0.1.0
GPNPCONFIGDIR={{ oracle_home }}
LOGDIR={{ install_base }}/oraInventory/logs/
ORACLE_HOME_VERSION_VALID=true
ASM_DISCOVERY_STRING={{ asm_disk_location }}/{{ asm_data_pattern }}
GPNPGCONFIGDIR={{ oracle_home }}
ORACLE_OWNER={{ oracle_user }}
ISROLLING=true
ASM_DISKSTRING={{ asm_disk_location }}/{{ asm_data_pattern }}
CRS_STORAGE_OPTION=0
ORACLE_BINARY_OK=true
MGMT_DB=false
NETCA_LISTENERS_REGISTERED_WITH_HAS=LISTENER
inst_group=svrtech
ASM_AU_SIZE=1
HUB_SIZE=0
ASM_ORACLE_BASE={{ oracle_base }}
ORA_DBA_GROUP={{ oracle_dba_group }}
JREDIR={{ oracle_home }}/jdk/jre/
USER_IGNORED_PREREQ=false
inventory_loc={{ install_base }}/oraInventory
ASM_DISK_GROUPS="+{{ asm_data_group }}"
ORA_ASM_GROUP={{ oracle_dba_group }}
LANGUAGE_ID=AMERICAN_AMERICA.AL32UTF8
CSS_LEASEDURATION=400
ASM_HOME={{ oracle_home }}
ASM_DIAGNOSTIC_DEST={{ oracle_base }}/product/OB
REUSEDG=false
local=false
INVENTORY_LOCATION={{ oracle_base }}/oraInventory
GNS_CONF=false
BIG_CLUSTER=false
ASM_DISKS={{ asm_data_paths_find_result | json_query('files[].path') | join(',') }}
CRS_HOME=true
ASM_IN_HOME=true
CRFHOME={{ oracle_home }}
ASM_DROP_DISKGROUPS=true
ASM_LOCAL_SID={{ asm_sid }}
JLIBDIR={{ oracle_home }}/jlib
VNDR_CLUSTER=false
ASM_DISK_GROUP={{ asm_data_group }}