oracle.install.responseFileVersion=/oracle/install/rspfmt_ogginstall_response_schema_v12_1_2
INSTALL_OPTION=ORA12c
SOFTWARE_LOCATION=={{ oracle_base }}/gg
START_MANAGER=True
MANAGER_PORT=7809
DATABASE_LOCATION={{ oracle_home }}
INVENTORY_LOCATION={{ install_base }}/oraInventory
UNIX_GROUP_NAME={{ oracle_group }}