CREATE USER "{{ RMAN_user }}" IDENTIFIED BY "{{ RMAN_password }}" DEFAULT TABLESPACE "USERS" TEMPORARY TABLESPACE "TEMP";
GRANT 	UNLIMITED TABLESPACE 	TO "RMANBACKUP";
GRANT 	CREATE SESSION 			TO "RMANBACKUP";
GRANT 	DBA 					TO "RMANBACKUP";
GRANT 	SELECT_CATALOG_ROLE 	TO "RMANBACKUP";
GRANT 	SYSDBA 					TO "RMANBACKUP";

