[GENERAL]
RESPONSEFILE_VERSION = "11.2.0"
OPERATION_TYPE = "createDatabase"
[CREATEDATABASE]
GDBNAME = "{{ oracle_db_name }}"
DATABASECONFTYPE  = "{{ db_config_type }}"
SID = "{{ oracle_db_name }}"
NODELIST = {{ cluster_node_string | join(',') }}
TEMPLATENAME = "General_Purpose.dbc"
SYSPASSWORD = "{{ oracle_system_pass }}"
SYSTEMPASSWORD = "{{ oracle_system_pass }}"
STORAGETYPE = ASM
DISKGROUPNAME = {{ asm_data_group }}
RECOVERYGROUPNAME = {{ asm_reco_group }}
CHARACTERSET = "AL32UTF8"
MEMORYPERCENTAGE = "10"
DATABASETYPE = "MULTIPURPOSE"
AUTOMATICMEMORYMANAGEMENT = "FALSE"