---
master_node: "{{ ansible_play_hosts | sort | first }}"

tns_hosts: "{% if ansible_play_hosts | length == 1 -%}{{ master_node }}
                {%- else -%}{{ cluster_name }}
                {%- endif -%}"

# shell environment for the oracle user
ora_user_env:
  ORACLE_BASE: "{{ oracle_base }}"
  ORACLE_SID: "{{ oracle_db_name }}"
  ORACLE_UNQNAME: "{{ oracle_db_name }}"
  ORACLE_HOME: "{{ oracle_home }}"
  NLS_LANG: "American_America.UTF8"
  PATH: "{{ oracle_home }}/bin:{{ ansible_env.PATH }}"
