
$cn = New-Object System.Data.SqlClient.SqlConnection

$cn.ConnectionString = "Data Source={{ SQLInst }}; User ID={{ username }}; Password={{ password }}; Initial Catalog=master"
$cn.Open()

# Fetch Server list into the Data source from Srv.ServerList Table from CentralDB
$ds = new-object "System.Data.DataSet" "dspw"

$q = "SELECT [PValue] AS 'Value' FROM [CHARTER_DBA].[MGT].[Parameters] WHERE [PName] = 'HYPERV SA PW';"

$da = new-object "System.Data.SqlClient.SqlDataAdapter" ($q, $cn)
$da.Fill($ds)
$cn.Close()

$dtServerList = $ds.Tables[0]
$SvrList = $dtServerList | Select Value
$SAPW = $SvrList.Value
$SAPW