{% if {{ sga_max_size }} <> 6  %}
alter system set sga_max_size ={{ sga_max_size }} {{ sga_unit }} scope=spfile sid='*';
{% endif %}
{% if {{ java_pool_size }} <> 100 %}
alter system set sga_target ={{ java_pool_size }} {{ java_pool_unit }} scope=spfile sid='*';
{% endif %}
{% if {{ db_cache_size }} <> 1  %}
alter system set sga_target ={{ db_cache_size }} {{ db_cache_unit }} scope=spfile sid='*';
{% endif %}
{% if {{ shared_pool_size }} <> 500  %}
alter system set sga_target ={{ shared_pool_size }} {{ shared_pool_unit }} scope=spfile sid='*';
{% endif %}
{% if {{ streams_pool_size }} <> 100  %}
alter system set sga_target ={{ streams_pool_size }} {{ streams_pool_unit }} scope=spfile sid='*';
{% endif %}
{% if {{ java_pool_size }} <> 100  %}
alter system set sga_target ={{ java_pool_size }} {{ java_pool_unit }} scope=spfile sid='*';
{% endif %}
{% if {{ db_recovery_file_dest_size }} <> 10 %}
alter system set sga_target ={{ db_recovery_file_dest_size }} {{ db_recovery_file_dest_unit }} scope=spfile sid='*';
{% endif %}
{% if {{ pga_aggregate_target }} <> 1  %}
alter system set sga_target ={{ pga_aggregate_target }} {{ pga_unit }} scope=spfile sid='*';
{% endif %}
{% if {{ processes }} <> 300 %}
alter system set sga_target ={{ processes }}  scope=spfile sid='*';
{% endif %}
{% if {{ db_cache_size }} <> 1  %}
alter system set sga_target ={{ db_cache_size }} {{ db_cache_unit }} scope=spfile sid='*';
{% endif %}
{% if {{ sga_target }} <> 6  %}
alter system set sga_target ={{ sga_target }} {{ sga_unit }} scope=spfile sid='*';
{% endif %}
